body {
  display: block;
  box-sizing: border-box;
  background-color: rgb(33, 33, 33);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* header css */

.header {
  z-index: 10;
  width: 100%;
  display: block;
  background-color: black;
  position: fixed;
  top: 0px;
  /* border-bottom: 1px solid seashell; */
}

.logo {
  height: 100px;
  float: left;
}

h1 {
  margin: auto;
  /* padding: 20px; */
  padding-top: 30px;
  text-align: center;
}

.navigation {
  align-items: center;
  float: right;
  height: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}
.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  text-decoration: underline;
  color: white;
}

/* mission statement  */

.mission-container {
  background-image: url(/banner-image.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  width: 100%;
  margin: auto;
  margin-top: 100px;
  position: relative;
  clear: both;
  display: flex;
  box-sizing: border-box;
}

.text-over {
  margin: auto;
  padding: none;
  background-color: black;
  opacity: 0.75;
  width: 100%;
  text-align: center;
}

/* Products */

h2 {
  text-align: center;
}

.product-container {
  display: inline-flex;
  max-width: 1000px;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product img {
  height: 200px;
  width: 300px;
  padding: 10px 10px;
}

/* about */

/* team */

/* media queries */
